@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: white;
}

p {
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  font-family: 'Oswald', sans-serif;
  display: grid;

  grid-template-areas:
  "logo"
  "header"
  "nav"
  "about"
  "footer";
  grid-gap: 10px;
}
header {grid-area: header;}
.logo {
  grid-area: logo;
  align-content: center;
}
nav {grid-area: nav;}
.about {grid-area: about;}
.personalpj {grid-area: personalpj;}
.contact {grid-area: contact;}
footer {grid-area: footer;}


@media screen and (min-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-areas:
    "logo header header "
    "nav about about"
    "footer footer footer";
  }
}
