@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.burger {
  position: absolute;
  top: 2vw;
  right: 2vw;
  width: 5vw;
  min-width: 50px;
}

header {
  background: linear-gradient(180deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,1) 100%), url(../images/mountain.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  margin: -13% 0 0 -10%;
}

.logo h1 {
  font-size: 3.5vw;
}

.logo h2 {
  font-size: 2vw;
}

nav {
  display: table;
  margin: 0 auto;
}

nav li {
  display: inline-block;
  margin: 5px;
}

.ppj {
  margin: 0 5% 0 5%;
}

.ppj li {
  background-color: blue;
}
