@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

p {
  font-family: 'Roboto', sans-serif;
}

.timeline {
  font-family: 'Oswald', sans-serif;
}
.timeline h3 {
  font-weight: 700;
  font-size: 3vh;
}
.timeline h4 {
  font-weight: 700;
  font-size: 2vh;
  color: teal;
}
.timeline h5 {
  font-weight: 400;
  font-size: 1.7vh;
}
